body {
	font-family: tahoma, verdana, arial, sans-serif;
	color: #555;
	background: #D1D1D3;
	margin: 0;
	padding: 0;
	font-size: 76%;
}

table {
	font-family: tahoma, verdana, arial, sans-serif;
	font-size: 100%;
	border-collapse: collapse;
}

#infopages {
	margin: 20px 25px 5px 25px;
}

#infopages h1 {
	margin: 0;
	font-size:16px;
	font-weight: bold;
	/*background-color:#57578F; 
	color:#FFF;   
	padding: 5px;*/
}

#infotables table.center {
	border: 2px solid black;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

#infotables table.left {
	border: 2px solid black;
	width: 100%;
	font-size: 11px;
	margin-right: auto;
	margin-left: auto;
}

#infotables th {
	color: #FFFFFF;
	border: 2px solid black;
	background: #4C4C82;
	font-weight: bold;
}

#infotables td {
	border: 2px solid black;
}

#infotables tr.footer {
	background: #C6B8B1;
	height: auto;
}

#infotables td.footer {
	color: #000000;
	font-style: italic;
	font-weight: bold;
	font-size: 11px;
}

.fellowship {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.fellowship th {
	font-style: bold;
}

.fellowship td {
	vertical-align: top;
}

.center {
	text-align: center;
	font-style: bold;
}

th, td {
	padding: 2px 4px;
}

h1 {
	font-size: 22px;
	font-family: arial, helvetica, sans-serif;
	margin: 10px 0 5px 25px;
}

h2 {
	font-size: 16px;
	font-family: arial, helvetica, sans-serif;
	margin: 10px 0 5px;
}

h2.step {
	font-size: 16px;
	font-family: arial, helvetica, sans-serif;
	margin: 10px 0 5px 25px;
}

h3, h4, h5, h6 {
	font-size: 100%;
	margin: 0;
}

ul, ol {
	margin: 5px 10px 10px 2em;
	padding: 0;
}

ul {
	list-style-type: disc;
}

ul ul {
	list-style-type: circle;
}

ol li {
	margin-bottom: 1em;
}

ol ul li {
	margin-bottom: 0;
}

li {
	margin: 0;
	padding: 0;
}

a {
	font-weight: bold;
	color: #33a;
	text-decoration: none;
}

a:hover {
	color: #77f;
}

.formwhite {
	background-color: #fff;
}

.formbutton {
	font-weight: bold;
	color: #007;
	border: 1px solid #aaa;
	background-color: #eee;
}

.formcolor_required {
	background-color: #ddd;
	border: 1px dotted #000;
}

.formcolor_needinfo {
	font-weight: bold;
	color: #000;
	background-color: #fcc;
	border: 1px solid #d99;
}

#page {
	width: 1000px;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	background: #fff;
	border: 1px solid #777;
	border-top: none;
}

#page #login {
	padding: 0;
	background: #E7E5E2;
}

#heading {
	background: #4c4c82;
	border-bottom: 2px solid #000;
}

#heading a {
	color: #000;
}

#heading a:hover {
	color: #333;
}

#titleBar {
	text-align: right;
	background: #B69381;
	border-bottom: 2px groove #bbb;
}

#sidebar {
	width: 150px;
	float: left;
	margin: 1px 0 10px 1px;
}

#sidebar p {
	margin: 5px 5px 25px;
}

#navigation {
	background: #dde;
	margin: 0;
	padding: 0;
	color: #000;
	font-weight: bold;
	border: 1px solid #99a;
	border-bottom: 2px groove #bbb;
}

#navigation li {
	font-size: 100%;
	list-style: none;
	color: #fff;
	background: #88c;
	border-bottom: 1px solid #33a;
	margin-bottom: 1px;
}

#navigation li a {
	color: #fff;
	display: block;
	padding: 1px 3px 2px;
}

#navigation li ul {
	margin: 0;
	padding: 0 0 10px;
	background: #dde;
}

#navigation li ul li {
	list-style-type: disc;
	margin: 0 0 0 2em;
	padding: 0;
	background: none;
	border: none;
	color: #000;
	font-size: 95%;
}

#navigation li ul li a {
	color: #33a;
	padding: 0;
	margin: 0;
	display: inline;
}

#navigation li ul li a:hover {
	color: #77f;
}

#navigation li ul li ul li {
	list-style-type: disc;
}

#greyBar {
	background: #CED0D2;
	border-bottom: 1px solid #999;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 1px;
}

#content {
	margin: 0 0 50px 20px;
	float: left;
	width: 555px;
}

.finePrint {
	color: #777;
	font-size: 90%;
}

#footer {
	background:#4c4c82;
	text-align:center;
	font-size:90%;
	color: #fff;
	padding: 15px 0 25px;
	width: 1000px;
	margin: 0 auto;
	clear: both;
}

#footer a {
	color: #fff;
	text-decoration: underline;
	font-weight: normal;
}

.urgent, .message {
	padding: 5px;
	color: #000;
}

.urgent {
	border: 1px solid #d60;
	background: #ffe9aa url(/images/stripe.gif);
}

.message {
	border: 1px solid #77d;
	background: #e6eeff;
}

hr.clear {
	clear:both;
	visibility:hidden;
}

div.notice {
	height: auto;
	margin: 4px;
	padding: 5px;
	border: 1px solid #666666;
	background-color: #ffffe1;
	color: #666666;
	font-size: 88%;
}

div.notice h4 {
	padding: 3px 0 3px 3px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #666666;
	color: #666666;
	font-size: 110%;
}

div.error {
	height: auto;
	margin: 4px;
	float:left;
	border-top: 2px solid #d00;
	border-bottom: 2px solid #d00;
	padding: .125em 1em .5em;
	background: #fff0f0;
	color: #000;
	font-size: 88%;
}

.secure {
	position:absolute;
	bottom:0px;
	right:0px;
}

#tabs {
	float: right;
	width: 90%;
	margin: 30px 0px 0px 0px;
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	position:relative;
	right:-7px;
 	*right:-9px;
}

#tabs ul {
	list-style:none;
	margin:0;
	padding:0;
}
#tabs li {
	float:left;
	background:url(/images/nav-left.jpg) left top no-repeat;
	margin:0 0 0 1px;
}

#tabs ul li ul li{
	border-style: outset;
   border-width: 1px;
}

#tabs a {
	display:block;
	background:url(/images/nav-right.jpg) right top no-repeat;
	padding:3px 5px 5px;
	text-decoration:none;
	color:#FFF;
}

#tabs a:hover, #tabs li:hover > a {
	background:url(/images/nav-right-over.jpg) right top no-repeat;
}

#tabs li ul {
	display:none;
	font-size:90%;
}

#tabs li:hover {
	position:relative;
	background:url(/images/nav-left-over.jpg) left top no-repeat;
}

#tabs li:hover ul {
	display:block;
	position:absolute;
	left:-1px;
}

#tabs ul ul li {
	background:#e7e5e2;
	width:175px;
}

#tabs ul ul li a {
	background:none;
	color:#3333aa;
	display:block;
}

#tabs ul ul li a:hover {
	background: #565563;
	color: #FFF;
}




.table-border {
	border:2px solid #000;
	width:220px;
	text-align:left;
	padding:4px;
}

#layout {
	font-size:1.1em;
	line-height:20px;
}

#layout table {
	text-align:left;
}

#layout table th font {
	color:#FFFFFF !important;
}

.botwrangler {
	display:none;
}

.login_message {
	color: #fff;
	padding:3px;
	margin:3px;
	background: #ff3030;
	-moz-border-radius:3px;
	border-radius:3px;
}
