	<div id="homelayout">
	<br />
	<center>
		<table width="90%">
			<tr>
				<td valign="top">				
					<table class="table-border">
						<tr>
							<td valign="top">
							<a href="res-pd/res-pd.html"><center><img src="/images/1.jpg" width="207" height="122" />
							</center>
							<br />
							<strong><center>Residents/Program Directors</center></strong></a><br />
							<strong>Quick Links</strong>
							<ul>
								<li><a href="res-pd/login.html">Program Director Login</a></li>
								<li><a href="res-pd/res_intro.html">MOC Introduction</a></li>
								<li><a href="boi/Cert_BOI.pdf" target="_blank">Booklet of Information</a></li>
								<li><a href="res-pd/policies.html">Forms and Policies</a></li>
								<li><a href="res-pd/newsletters.html">Newsletters</a></li>
							</ul><br />
							<a href="res-pd/res-pd.html">Click here for complete resources</a>
							</td>
						</tr>
					</table>
				</td>
				<td>&nbsp;</td>
				<td valign="top">
					<table class="table-border">
						<tr>
							<td>
							<a href="candidates/candidates.html"><center><img src="/images/2.jpg" width="207" height="122" />
							</center>
							<br />
							<strong><center>Candidates</center></strong></a><br />
							<strong>Quick Links</strong>
							<ul>								
								<li><a href="candidates/partI.html">Part I Information</a></li>
								<li><a href="candidates/partII.html">Part II Information</a></li>
								<li><a href="candidates/subspecialties.html">Subspecialties</a></li>
								<li><a href="candidates/exam_calendar.html">Exam Calendar/Fees</a></li>
                                <li><a href="candidates/exam_contact.html">Submit a Confidential Tip</a></li>
							</ul><br />
							<a href="candidates/candidates.html">Click here for complete resources</a>
							</td>
						</tr>
					</table>
				</td>
				<td>&nbsp;</td>
				<td valign="top">
					<table class="table-border">
						<tr>
							<td>
							<a href="diplomates/diplomates.html"><center><img src="/images/3.jpg" width="207" height="122" />
							</center>
							<br />
							<strong><center>Diplomates</center></strong></a><br />
							<strong>Quick Links</strong>
							<ul>
								<li><a href="diplomates/diplomates.html">MOC Overview</a></li>
								<li><a href="diplomates/cycle_details.html">MOC Program Details</a></li>
								<li><a href="diplomates/sa.html">Self-Assessment Options</a></li>
                        		<li><a href="diplomates/pp_options_table.html">Practice Performance</a></li>
								<li><a href="diplomates/pp_samples.html">ABPMR Clinical PIP Samples</a></li>
							</ul><br />
							<a href="diplomates/diplomates.html">Click here for complete resources</a>
							</td>
						</tr>
					</table>
				</td>
				<td>&nbsp;</td>
				<td valign="top">
					<table class="table-border">
						<tr>
							<td>
							<a href="consumers/consumers.html"><center><img src="/images/4.jpg" width="207" height="122" />
							</center>
							<br />
							<strong><center>Consumers</center></strong></a><br />
							<strong>Quick Links</strong>
							<ul>
								<li><a href="consumers/consumers.html">What is the ABPMR?</a></li>
								<li><a href="consumers/cert_purpose.html">Purpose of Certification</a></li>
								<li><a href="consumers/whos_certified.html">Who's Certified?</a></li>
								<li><a href="consumers/board_dir.html">Board of Directors</a></li>
								<li><a href="physician_search.html">Certified Physician Search</a></li>
							</ul><br /> 
							<a href="consumers/consumers.html">Click here for complete resources</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</center>
	</div><!--homelayout-->

	<div id="generalInfo">
	<p>
	<center>
	<table width="95%">
	<tr>
	<td valign="top" width="50%" style="text-align:left;">
   <h2>Important Announcements</h2>
     <ul>
       <li class="margin"><a href="/documents/brain_injury_announcement.pdf" target="_blank">Brain Injury Medicine Subspecialty approved by ABMS.  First exam is scheduled for Fall of 2014.</a></li>
       <li class="margin"><a href="/documents/sports_med_sub_specialty_temp_criteria.pdf" target="_blank">The ABPMR is pleased to announce that on 
          March 23, the ABMS approved a request to extend the temporary criteria for the Sports Medicine Subspecialty Examination.</a></li>
     </ul><br /> 

	<h2>What's New....</h2>
		<ul>
        	<li class="margin"><a href="/newsletters/documents/DN_Fall11.pdf" target="_blank" onClick="javascript: _gaq.push(['_trackPageview', '/newsletters']);">Diplomate News: Fall 2011</a></li>
         <li class="margin"><a href="/diplomates/sa.html#mayo" target="_blank">New Applied Quality Essentials Self-Assessment</a></li>
         <li class="margin"><a href="/diplomates/bibliography.html">Value of Certification and Maintenance of Certification</a></li>
		</ul>
	</td>
	<td>&nbsp;&nbsp;</td>
	<td valign="top">
		<table class="table-border" align="center" style="width:430px;" bgcolor="#E7E5E2">
			<tr>
				<td valign="top" width="50%">
					<h2>Certification Matters</h2>
						<p>Finding the right doctor is essential to your good health. ABPMR Board Certified Specialists are 
						leaders in their field because they voluntarily participate in lifelong learning to keep their skills 
						and knowledge current. They demonstrate their commitment to quality clinical outcomes, patient safety 
						and a responsive, patient-centered practice.</p>

						<a href="/physician_search.html">Verify Physician Certification</a><br /><br />
				</td>
			</tr>
		</table>
	</td>
	<tr>
	</table></center>
	</p>

	</div>
				
<div id="disclaimer">
	<p class="finePrint">&nbsp;</p>
	<p class="finePrint">*Certification is a voluntary process by which the ABPMR grants recognition
		to a physician specialist who has met predetermined qualifications specified
		by the ABPMR. Many qualities are necessary to be a competent physician, and
		many of these qualities cannot be quantified or measured. Thus, certification
		is not a guarantee of the competence of the physician specialist.<br />
	<br />
  The Board does not accept any use of the term &quot;Board Eligible.&quot;</p>
</div>




