<div id="footer">
<center>
<strong>American Board of Physical Medicine and Rehabilitation</strong><br />
	3015 Allegro Park Lane SW | Rochester, MN 55902-4139 | Phone: 507-282-1776 | Fax: 507-282-9242 <br /><br />
	A Member Board of the <a href="http://www.abms.org">American Board of Medical Specialties (ABMS)</a>
</center>
</div>