<table id="login" width="90%">
	<tr>
		<td style="text-align: right">
			<a href="/site_map.html">Site Map</a> | 
			<a href="/index.html">Home</a> | 
			<a href="/candidates/contact_us.html">Contact Us</a>
			<br>
		</td>
	</tr>
	<tr>
		<td id="tabs">
		<ul style= "float: right">
			<li><a href="/consumers/what_is_abpmr.html"><span>About ABPMR</span></a>
				<ul>
					<li><a href="/consumers/what_is_abpmr.html">What is the ABPMR?</a></li>
					<li><a href="/consumers/core_values.html">Core Values</a></li>
					<li><a href="/consumers/pmr_definition.html">Definition of Physical Medicine and Rehabilitation</a></li>
					<li><a href="/consumers/board_func.html">Functions of the Board</a></li>
					<li><a href="/consumers/board_dir.html">Board of Directors </a></li>
					<li><a href="/consumers/related_orgs.html">Related Organizations</a></li>
					<li><a href="/candidates/staff.html">Board Office Staff</a></li>
				</ul>
			</li>
			<li><a href="/candidates/req_partI.html"><span>Certification</span></a>
				<ul>
					<li><a href="/boi/Cert_BOI.pdf" target="_blank">Booklet of Information</a></li>
					<li><a href="/candidates/partI.html">Part I </a></li>
					<li><a href="/candidates/partII.html">Part II</a></li>
					<li><a href="/candidates/subspecialties.html">Subspecialties</a></li>
					<li><a href="/candidates/exam_statistics.html">Exam Statistics</a></li>
					<li><a href="/candidates/exam_calendar.html">Exam Calendar</a></li>
				</ul>
			</li>
			<li><a href="/diplomates/moc.html"><span>Maintenance of Certification</span></a>
				<ul>
					<li><a href="/boi/MOC_BOI.pdf" target="_blank">Booklet of Information</a></li>
					<li><a href="/diplomates/res_intro.html">Introduction to MOC</a></li>
					<li><a href="/diplomates/moc.html">Details</a></li>
					<li><a href="/diplomates/moc_components.html">Components</a></li>
					<li><a href="/moc/documents/MOCbrochure_web.pdf" target="_blank">MOC Brochure</a></li>
					<li><a href="/diplomates/timeline.html">MOC Timeline</a></li>
					<li><a href="/diplomates/moc_faq.html">MOC FAQ</a></li>
					<li><a href="/diplomates/cme_reporting.html">CME Reporting Process</a></li>
					<li><a href="/diplomates/cme_faq.html">CME FAQ</a></li>
					<li><a href="/diplomates/sa.html">Self-Assessment Options</a></li>
					<li><a href="/diplomates/sa_faq.html">Self-Assessment FAQ</a>
					<li><a href="/diplomates/pp.html">Practice Performance Overview</a></li>
					<li><a href="/diplomates/pp_faq.html">Practice Performance FAQ</a>
					<li><a href="/diplomates/pp_clinical.html">Clinical Care Practice Improvement Project (PIP)</a></li>
					<li><a href="/diplomates/pp_criteria.html">PIP Criteria</a></li>
					<li><a href="/diplomates/pp_samples.html">PIP Samples</a></li>	
					<li><a href="/candidates/subspecialties.html">Subspecialties</a></li>
					<li><a href="/forms/ReplacementCertificateOrderForm.pdf" target="_blank">Replacement Certificate Order Form</a></li>
					<li><a href="/downloads/ABPMR_MOCPartTwoapp.doc" target="_blank">
						Application for Approval of Self-Assessment Activities (MOC Part II)</a></li>
					<li><a href="/downloads/ABPMR_MOCPartFourapp.doc" target="_blank">
						Application for Approval of Performance in Practice Activities (MOC Part IV)</a></li>
					<li><a href="/diplomates/exam_calendar.html">Exam Calendar</a></li>
				</ul>
			</li>
			<li><a href="/candidates/communication.html"><span>Communication</span></a>
				<ul>
					<!--<li><a href="/candidates/communication.html">Announcements</a></li>-->
					<li><a href="/candidates/contact_us.html">Contact Us</a></li>
					<li><a href="/candidates/candidate_faq.html">Candidate FAQ</a></li>
					<li><a href="/diplomates/moc_faq.html">MOC FAQ</a></li>
					<li><a href="/diplomates/cme_faq.html">CME FAQ</a></li>
					<li><a href="/candidates/newsletters.html">Newsletters</a></li>
					<li><a href="/consumers/whos_certified.html">Who's Certified</a> </li>
				</ul>
			</li>
			<li><a href="/candidates/policies.html"><span>Resources</span></a>
				<ul>			
					<li><a href="/boi/Cert_BOI.pdf" target="_blank">Certification - Booklet of Information</a></li>
					<li><a href="/boi/MOC_BOI.pdf" target="_blank">MOC - Booklet of Information</a></li>
					<li><a href="/candidates/login.html">Exam Applications</a></li>
					<li><a href="/candidates/exam_statistics.html">Exam Statistics</a></li>
					<li><a href="/forms/ReplacementCertificateOrderForm.pdf" target="_blank">Replacement Certificate Order Form</a></li>
					<li><a href="/tutorials/MOC_Web_Tutorial.pdf" target="_blank">'My MOC Status' Tutorial</a></li>
					<li><a href="/candidates/policies.html">Forms and Policies</a></li>
					<!--
					<li><a href="/documents/WhatDoesItMean_web.pdf" target="_blank">Board Certified Brochure</a></li>
					-->
					<li><a href="/documents/WhatDoes_OrderForm.pdf" target="_blank">Brochure Order Form</a></li>
					<li><a href="/downloads/ABPMR_MOCPartTwoapp.doc" target="_blank">
						Application for Approval of Self-Assessment Activities (MOC Part II)</a></li>
					<li><a href="/downloads/ABPMR_MOCPartFourapp.doc" target="_blank">
						Application for Approval of Performance in Practice Activities (MOC Part IV)</a></li>
					<li><a href="/downloads/ROCA_Description_and_Instructions.pdf" target="_blank">Resident Observation and Competency 
						Assessment (RO&CA) - Description &amp; Instructions</a></li>
					<li><a href="/downloads/roca.pdf" target="_blank">Resident Observation and Competency Assessment (RO&CA) - Form</a></li>
					<li><a href="/downloads/360_Resident_Eval.doc">360 Resident Evaluation Form</a></li>
					<li><a href="http://journals.lww.com/ajpmr/pages/articleviewer.aspx?year=2007&issue=10000&article=00011&type=abstract" target="_blank">
						Reliability of a 360-Degree Evaluation to Assess Resident Competence (Article)</a></li>			
				</ul>
			</li>
		</ul>
	</td>
</tr>
</table>
